<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <h1> Edit Show {{ show.id }} </h1>
    <form action="/shows/{{ show.id }}/update" method="post">
    {% csrf_token %}
        
        <label type="title">Title</label>
        <input type="text" name="title" id="title">

        <label type="network">Network</label>
        <input type="text" name="network" id ="network">

        <label type="release_date">Release Date</label>
        <input type="date" name="release_date" id="release_date">

        <label type="desc">Description</label>
        <input type="text" name="desc" id="desc">

        <button type="submit">Submit</button>
    </form>
</body>
</html>